body {
  overflow-y: scroll;
}

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(escoalpios_info.jpeg);
  background-size: cover;

}



.info-page_mapa-getafe {
  max-width: 100%;
  height: auto;
}

.info-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

}

.mapa_getafe {
  max-width: 100%;
  height: auto;
}

.info-page__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.info-page__text-box1 {
  background: rgba(81, 141, 219, 0.5);
  
  padding: 20px;
  box-sizing: border-box;
  width: 45%;
 
  border-radius: 10px;
}

.info-page__text-box2 {
  background: rgba(81, 141, 219, 0.5);
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  box-sizing: border-box;
}

.info-page__text1 {
  color: #ffffff;
}

.info-page__text2 {
  color: #ffffff;
}

.info-page__image-box1 {
  align-items: center;
  box-sizing: border-box;
}

.info-page__container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-page__image-container2 {
  display: flex;
  justify-content: space-between;
}

.info-page__image-box2 img {
  width: 100%;
  height: auto;
}

.info-page__image-box2 {
  flex: 1;
  padding: 0 10px;
}


.info-form__button,
.info-form__login-button {
  font-family: inherit;
  font-size: 20px;
  background: transparent;
  color: #6fc3f78a;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  transition: transform 0.3s ease-in-out;
}

.info-form__button:hover,
.info-form__login-button:hover {
  background: #6fc3f78a;
  transform: scale(1.1);
}

.info-form__button:active,
.info-form__login-button:active {
  transform: scale(0.95);
}