.login-page {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background: rgb(67, 138, 230);
  background: radial-gradient(circle, rgba(67, 138, 230, 0.23012955182072825) 0%, rgba(148, 187, 233, 0) 100%);
}

#fuenteGrande {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 40px;
  letter-spacing: 2.4px;
  word-spacing: 1.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

#fuenteNormal {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  letter-spacing: 1.4px;
  word-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;

}

#fuenteInfo {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000ce;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  text-transform: none;
}

.login-page__left-panel {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
}

.login-page__top-panel {
  height: 9%; /* Altura de la cabecera */
  width: 100%;
  position: fixed;
  top:0;
  overflow: hidden;
  box-sizing: border-box; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: #000000; /* Color del texto */
}

.left-panel__box-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.left-panel__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/colegio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  /* Colocar imagen detrás */
}

.login-page__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-page__title>img {
  height: 150px;
}

.login-page__title>h1 {
  font-size: 45px;
}

.login-page__login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #0f2533cd;
}

.login-form_space-top {
  margin-top: 15%;
}

.login-page__buttons-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2.5%;
}

.login-form__input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.login-form__input>input {
  height: 30px;
  width: 250px;
  padding-inline: 10px;
  font-size: 1rem;
}

.login-form__input>label {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.login-form__auth-error {
  text-align: center;
  height: 20px;
}

.login-form__login-button {
  font-family: inherit;
  font-size: 20px;
  background: transparent;
  color: #6fc3f78a;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
}

.login-form__login-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.login-form__login-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.login-form__login-button:hover {
  background: #6fc3f78a;
}

.login-form__login-button:hover .svg-wrapper {
  transform: scale(1.5);
  transition: 0.5s linear;
}

.login-form__login-button:hover svg {
  transform: translateX(2.5em) scale(1.1);
  fill: #fff;
}

.login-form__login-button:hover svg.phone {
  transform: translateX(3em) scale(1.1);
  fill: #fff;
}

.login-form__login-button:hover svg.info {
  transform: translateX(4em) scale(1.1);
  fill: #fff;
}



.login-form__login-button:hover span {
  opacity: 0;
  transition: 0.5s linear;
}

.login-form__login-button:active {
  transform: scale(0.95);
}