.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5%;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.datos {
    max-height: 280px;
    overflow-y: auto;
    position: relative;
}

.contact-item {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
    position: relative;
}

.contact-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-item.expanded {
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-summary {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact-summary p {
    margin: 5px 0;
    word-break: break-word;
    white-space: normal;
}

.contact-details {
    margin-top: 10px;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.contact-item.expanded .contact-status {
    display: none;
}

.contact-status {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.status-icon {
    font-size: 1.5em;
}

.status-icon.read {
    color: green;
}

.status-icon.unread {
    color: orange;
}